body {
    font-family: roboto,sans-serif;
}

/* Header Layout*/
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 75%;
    margin: 0 auto; 
}

.navigation {
    list-style: none; 
    display: flex; 
    gap: 16px; 
}

.navigation a {
    text-decoration: none; 
    color: black; 
}

/* Hero Section Layout */
.hero-section {
    display: flex; 
    justify-content: space-between;
    margin: 32px 0;
    gap: 16px;
}

.hero-section .text{
    width: 50%;
}

.hero-section .image {
    flex: 1;
    flex-shrink: 0;
    background-color: lightgray; /* Set a background color for the box */
    display: flex; /* Center any content inside the box */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    font-size: 16px; /* Optional: Add text styling */
    color: black; /* Optional: Text color */
}

/* Information section */
.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
}

.informations .title{
    display: flex;
    justify-content: center;
}

.informations .feature-list{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if they exceed the container width */
    justify-content: center; /* Centers items horizontally */
    gap: 52px; /* Adds spacing between items */
    margin-top: 32px; /* Adds spacing between the title and items */
}

.informations .feature{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center;
    width: 100px; /* Fixed width */

    gap: 16px;
    text-align: center; /* Center text inside the box */
}

.informations .feature img {
    max-width: 100%; /* Ensure the image fits within the box */
    max-height: 100%; /* Ensure the image fits within the box */
    object-fit: cover; /* Crop the image to fill the box if necessary */
}


